.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

@-webkit-keyframes twirl {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
}

@keyframes twirl {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
}
body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
}

.btn {
  background-color: #bcced9;
  border: none;
  color: #fcfcfc;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  border-radius: 2rem;
}

.menu-btn:hover {
  background-color: #6395b8;
}

.menu-btn.selected {
  background-color: #152938;
}

.orange-btn {
  background-color: #fda214;
}

.orange-btn:hover {
  background-color: #FFB84A;
}

.grey-btn {
  background-color: #DFE7EC;
  color: #152938;
}

.grey-btn:hover {
  background-color: #6395b8;
  color: #fcfcfc;
}

.outside-container {
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
}

.inner-container {
  max-width: 1400px;
  margin: 0 auto;
}

#start-game-screen {
  background-color: #152938;
  color: #fcfcfc;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#start-game-screen .inner-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#start-game-screen .inner-container h1 {
  margin-bottom: 2rem;
}
#start-game-screen .inner-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  background-color: #fcfcfc;
  border-radius: 2rem;
  width: 100%;
  max-width: 654px;
  color: #7191a5;
}
#start-game-screen .inner-container .card .group-selection {
  width: 100%;
  margin-bottom: 2rem;
}
#start-game-screen .inner-container .card .group-selection .label {
  width: 100%;
  text-align: left;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
#start-game-screen .inner-container .card .group-selection .selections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
#start-game-screen .inner-container .card .group-selection .selections .btn {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}
#start-game-screen .inner-container .card .group-selection .selections .btn:first-child {
  margin-left: 0rem;
}
#start-game-screen .inner-container .card .group-selection .selections .btn:last-child {
  margin-right: 0rem;
}
#start-game-screen .inner-container .card .group-selection:last-child {
  margin-bottom: 0;
}

#game-screen {
  background-color: #fcfcfc;
  color: #152938;
  min-height: 100vh;
  display: block;
}
#game-screen .inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#game-screen .inner-container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#game-screen .inner-container .panels {
  list-style-type: none;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  width: 100%;
  max-width: calc(100vh - 275px);
  min-width: 312px;
}
#game-screen .inner-container .panels > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
#game-screen .inner-container .panels > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
#game-screen .inner-container .panels > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
#game-screen .inner-container .panels > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
#game-screen .inner-container .panels > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
#game-screen .inner-container .panels > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
#game-screen .inner-container .panels > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
#game-screen .inner-container .panels > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
#game-screen .inner-container .panels > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
#game-screen .inner-container .panels > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
#game-screen .inner-container .panels > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
#game-screen .inner-container .panels > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}
#game-screen .inner-container .panels > *:nth-child(13) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}
#game-screen .inner-container .panels > *:nth-child(14) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}
#game-screen .inner-container .panels > *:nth-child(15) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}
#game-screen .inner-container .panels > *:nth-child(16) {
  -ms-grid-row: 7;
  -ms-grid-column: 7;
}
#game-screen .inner-container .panels li {
  position: relative;
  border-radius: 50%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}
#game-screen .inner-container .panels li div {
  width: 100%;
  aspect-ratio: 1/1;
  /* padding: 50% 0; */
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 0;
  cursor: pointer;
}
#game-screen .inner-container .panels li .front {
  background-color: #152938;
}
#game-screen .inner-container .panels li .back {
  background-color: #fda214;
}
#game-screen .inner-container .panels li .back {
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}
#game-screen .inner-container .panels li .front {
  position: absolute;
}
#game-screen .inner-container .panels li.wrong .back {
  background-color: hsl(351, 60%, 40%);
}
#game-screen .inner-container .panels li.success .back {
  background-color: #bcced9;
}
#game-screen .inner-container .panels li.active div.front {
  -webkit-animation: twirl 0.1s ease-in forwards;
          animation: twirl 0.1s ease-in forwards;
}
#game-screen .inner-container .panels li.active div.back {
  animation: twirl 0.1s 0.1s ease-out forwards reverse;
}

#single-player-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#single-player-footer .single-player-container {
  max-width: 540px;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
#single-player-footer .single-player-container .single-player-stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(50% - 15px);
  background-color: #DFE7EC;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.25rem;
}
#single-player-footer .single-player-container .single-player-stat .single-player-stat-key {
  color: #7191a5;
  margin-bottom: 0.5rem;
}
#single-player-footer .single-player-container .single-player-stat .single-player-stat-value {
  color: #304859;
  font-size: 2rem;
}

#end-screen {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  display: none;
  background: rgba(128, 128, 128, 0.7);
}
#end-screen #single-player-end,
#end-screen #multi-player-end, #end-screen #single-player-lose {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  z-index: 1;
  max-width: none;
  min-height: 100vh;
}
#end-screen #single-player-end .card,
#end-screen #multi-player-end .card, #end-screen #single-player-lose .card {
  width: 100%;
  padding: 1.5rem;
  background-color: #fcfcfc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1rem;
  max-width: 654px;
  text-align: center;
}
#end-screen #single-player-end .card h2,
#end-screen #multi-player-end .card h2, #end-screen #single-player-lose .card h2 {
  font-size: 2rem;
  color: #152938;
  margin-bottom: 0.8rem;
}
#end-screen #single-player-end .card p,
#end-screen #multi-player-end .card p, #end-screen #single-player-lose .card p {
  color: #7191a5;
  margin-bottom: 1.75rem;
}
#end-screen #single-player-end .card .result,
#end-screen #multi-player-end .card .result, #end-screen #single-player-lose .card .result {
  width: 100%;
  margin-bottom: 1.5rem;
}
#end-screen #single-player-end .card .result .item,
#end-screen #multi-player-end .card .result .item, #end-screen #single-player-lose .card .result .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5rem;
  background-color: #DFE7EC;
}
#end-screen #single-player-end .card .result .item .label,
#end-screen #multi-player-end .card .result .item .label, #end-screen #single-player-lose .card .result .item .label {
  color: #7191a5;
}
#end-screen #single-player-end .card .result .item .result-data,
#end-screen #multi-player-end .card .result .item .result-data, #end-screen #single-player-lose .card .result .item .result-data {
  color: #152938;
  font-size: 1.25rem;
}
#end-screen #single-player-end .card .result .item.winner,
#end-screen #multi-player-end .card .result .item.winner, #end-screen #single-player-lose .card .result .item.winner {
  background-color: #152938;
}
#end-screen #single-player-end .card .result .item.winner .label,
#end-screen #multi-player-end .card .result .item.winner .label, #end-screen #single-player-lose .card .result .item.winner .label {
  color: #fcfcfc;
}
#end-screen #single-player-end .card .result .item.winner .result-data,
#end-screen #multi-player-end .card .result .item.winner .result-data, #end-screen #single-player-lose .card .result .item.winner .result-data {
  color: #fcfcfc;
  font-size: 1.25rem;
}
#end-screen #single-player-end .card .result .item:not(:last-child),
#end-screen #multi-player-end .card .result .item:not(:last-child), #end-screen #single-player-lose .card .result .item:not(:last-child) {
  margin-bottom: 0.5rem;
}
#end-screen #single-player-end .card .buttons,
#end-screen #multi-player-end .card .buttons, #end-screen #single-player-lose .card .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
#end-screen #single-player-end .card .buttons button:first-child,
#end-screen #multi-player-end .card .buttons button:first-child, #end-screen #single-player-lose .card .buttons button:first-child {
  margin-bottom: 1rem;
}
#end-screen #single-player-end .card .buttons button,
#end-screen #multi-player-end .card .buttons button, #end-screen #single-player-lose .card .buttons button {
  width: 100%;
}

@media (min-width: 576px) {
  #single-player-footer .single-player-container {
    max-width: 540px;
    margin: 0 auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #single-player-footer .single-player-container .single-player-stat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: calc(50% - 15px);
    background-color: #DFE7EC;
    border-radius: 1rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #single-player-footer .single-player-container .single-player-stat .single-player-stat-key {
    color: #7191a5;
    margin-bottom: 0;
  }
  #single-player-footer .single-player-container .single-player-stat .single-player-stat-value {
    color: #304859;
    font-size: 2rem;
  }
}