// fonts
.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

// colors

$orange : #fda214;
$buttonHover: #FFB84A;
$white: #fcfcfc;
$darkNavyBlue: #152938;
$navyBlue: #304859;
$lightGrey: #f2f2f2;
$babyBlue: #6395b8;
$lightGreyBlue:#bcced9;
$darkerGreyBlue: #7191a5;


// animations
@keyframes twirl {

    0% {
        transform: rotateY(0deg)
    }

    100% {
        transform: rotateY(90deg)
    }

}

// font 
body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 700;

}

// any button stylings

.btn {
    background-color: $lightGreyBlue;
    border: none;
    color: $white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    transition: .2s ease-in-out;
    cursor: pointer;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 700;
    border-radius: 2rem;

}


.menu-btn:hover {
    background-color: $babyBlue;
}

.menu-btn.selected {
    background-color: #152938;
}

.orange-btn {
    background-color: #fda214;
}

.orange-btn:hover {
    background-color: $buttonHover;
}

.grey-btn {
    background-color: #DFE7EC;
    color: #152938;
}

.grey-btn:hover {
    background-color: #6395b8;
    color: #fcfcfc;
}









.outside-container {
    // on the out side
    padding-left: 24px;
    padding-right: 24px;
    position: relative;

}

.inner-container {
    max-width: 1400px;
    margin: 0 auto;
}

#start-game-screen {
    background-color: $darkNavyBlue;
    color: $white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .inner-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            margin-bottom: 2rem;
        }

        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1.5rem;
            background-color: $white;
            border-radius: 2rem;
            width: 100%;
            max-width: 654px;
            color: $darkerGreyBlue;

            .group-selection {
                width: 100%;
                margin-bottom: 2rem;

                .label {
                    width: 100%;
                    text-align: left;
                    margin-bottom: 1rem;
                    font-size: 1.5rem;
                }

                .selections {
                    display: flex;
                    width: 100%;

                    .btn {
                        flex-grow: 1;
                        margin-left: .5rem;
                        margin-right: .5rem;
                        font-size: 1.5rem;
                    }

                    .btn:first-child {
                        margin-left: 0rem;
                    }

                    .btn:last-child {
                        margin-right: 0rem;
                    }
                }
            }

            .group-selection:last-child {
                margin-bottom: 0;
            }


        }



    }
}

#game-screen {
    background-color: $white;
    color: $darkNavyBlue;
    min-height: 100vh;
    display: none;


    .inner-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .panels {
            list-style-type: none;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-gap: 1rem;
            width: 100%;
            max-width: calc(100vh - 275px);
            min-width: 312px;

            li {
                position: relative;
                border-radius: 50%;
                display: block;
                box-sizing: border-box;
                overflow: hidden;

                div {
                    width: 100%;
                    aspect-ratio: 1/1;
                    /* padding: 50% 0; */
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                    line-height: 0;
                    cursor: pointer;

                }



            }

            li {
                .front {
                    background-color: #152938;
                }

                .back {
                    background-color: #fda214;
                }

            }

            .wrong {
                .back {
                    background-color: hsl(351, 60%, 40%);
                }

            }

            .success {

                .back {
                    background-color: $lightGreyBlue;
                }
            }


            li.active {
                div.front {
                    animation: twirl .1s ease-in forwards;
                }

                div.back {

                    animation: twirl .1s .1s ease-out forwards reverse;

                }

            }

            .back {
                transform: rotateY(90deg);
            }

            .front {
                position: absolute;
            }
        }

        .six-panels {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

            li {


                div {

                    font-size: 1.25rem;

                }



            }
        }

        #single-player-footer {
            display: none;
        }

        #multi-player-footer {
            display: none;
        }

    }

    #menu-modal {
        position: absolute;
        background: hsl(0, 0%, 50%, .7);
        left: 0;
        height: 100vh;
        display: none;
        justify-content: center;
        align-items: center;

        padding: 1.5rem;
        z-index: 1;

        .card {
            width: 100%;
            padding: 1.5rem;
            background-color: #fcfcfc;
            display: flex;
            flex-direction: column;
            border-radius: 1rem;

            button:not(:last-child) {
                margin-bottom: 1rem;
            }


        }

    }



    #single-player-end , #multi-player-end ,
     #single-player-lose{
        position: absolute;
        background: rgba(128, 128, 128, 0.7);
        left: 0;
        height: 100%;
        display: none;
        justify-content: center;
        align-items: center;
        padding: 1.5rem;
        z-index: 1;
        max-width: none;

        .card {
            width: 100%;
            padding: 1.5rem;
            background-color: #fcfcfc;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 1rem;
            max-width: 654px;
            text-align: center;

            h2 {
                font-size: 2rem;

                color: #152938;
                margin-bottom: .8rem;
            }

            p {
                color: #7191a5;
                margin-bottom: 1.75rem;
            }

            .result {
                width: 100%;
                margin-bottom: 1.5rem;

                .item {
                    display: flex;
                    padding: 1.25rem;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: .5rem;
                    background-color: #DFE7EC;

                    .label {
                        color: #7191a5;
                    }

                    .result-data {
                        color: #152938;
                        font-size: 1.25rem;
                    }


                }

                .item.winner{
                    background-color: #152938;
                    .label {
                        color: $white;
                    }

                    .result-data {
                        color: $white;
                        font-size: 1.25rem;
                    }

                }

                .item:not(:last-child) {
                    margin-bottom: .5rem;
                }


            }

            .buttons {
                display: flex;
                flex-direction: column;
                width: 100%;

                button:first-child {
                    margin-bottom: 1rem;
                }

                button {
                    width: 100%;
                }

            }
        }

    }

    #multi-player-footer {
        display: flex;
        width: 100%;
        padding-bottom: 3rem;
        padding-top: 1rem;

        .multi-player-stat {
            position: relative;
            background-color: #DFE7EC;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: 1rem;
            border-radius: 1rem;
            flex-grow: 1;
            margin-left: .5rem;
            margin-right: .5rem;

            .desktop {
                display: none;
            }

            .mobile {
                display: block;
            }

            .multi-player-stat-key {
                color: #7191a5;
                margin-bottom: .5rem;
            }

            .multi-player-stat-value {
                color: #304859;
                font-size: 2rem;

            }

        }

        .multi-player-stat.active {
            background-color: #fda214;
            .multi-player-stat-key {
                color:$white;
       
            }

            .multi-player-stat-value {
                color: $white;
             
            }
        }

        .multi-player-stat.active::before {
            content: "";
            border-left: 15px solid transparent;
            border-bottom: 15px solid #fda214;
            border-right: 15px solid transparent;
            position: absolute;
            top: -14px;
            left: calc(50% - 15px);
        }


        .multi-player-stat:first-child {
            margin-left: 0;
        }

        .multi-player-stat:last-child {
            margin-right: 0;
        }

    }

    #single-player-footer {
        .single-player-container {
            max-width: 540px;
            margin: 0 auto;
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;

            .single-player-stat {
                display: flex;
                align-items: center;
                width: calc(50% - 15px);
                background-color: #DFE7EC;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 1rem;
                justify-content: space-between;
                padding: 1.25rem;

                .single-player-stat-key {
                    color: #7191a5;
                    margin-bottom: .5rem;

                }

                .single-player-stat-value {
                    color: #304859;
                    font-size: 2rem;

                }

            }

        }


    }

}


.header-menu {
    display: flex;

    button {
        margin-left: 1rem;
    }
}

.mobile-menu {
    display: flex;
}

.desktop-menu {
    display: none;
}




@media (min-width: 576px) {
    .outside-container {
        // on the out side
        padding-left: 5rem;
        padding-right: 5rem;

    }


    #game-screen {
        #single-player-footer {
            .single-player-container {
                max-width: 540px;
                margin: 0 auto;
                width: 100%;
                display: flex;
                justify-content: space-between;

                .single-player-stat {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: calc(50% - 15px);
                    background-color: #DFE7EC;
                    border-radius: 1rem;
                    justify-content: space-between;

                    .single-player-stat-key {
                        color: #7191a5;
                        margin-bottom: 0;

                    }

                    .single-player-stat-value {
                        color: #304859;
                        font-size: 2rem;
                    }

                }

            }


        }

        #single-player-end {

            .card {
                padding: 3.5rem;

                h2 {
                    font-size: 3.5rem;
                    margin-top: 1.5rem;
                }

                p {
                    margin-bottom: 3.5rem;
                }

                .result {
                    margin-bottom: 3.5rem;
                }

                .buttons {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;

                    button:first-child {
                        margin-bottom: 0rem;
                    }

                    button {
                        width: calc(50% - 16px);
                    }

                }
            }

        }


    }



}

@media (min-width: 768px) {
    #start-game-screen {
        background-color: $darkNavyBlue;
        color: $white;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .inner-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .card {
                padding: 3.5rem;
                background-color: $white;
                border-radius: 2rem;
                width: 100%;
                max-width: 654px;
                color: $darkerGreyBlue;

                .group-selection {
                    width: 100%;


                    .label {
                        width: 100%;
                        text-align: left;
                        margin-bottom: 1rem;
                        font-size: 1.5rem;
                    }

                    .selections {
                        display: flex;
                        width: 100%;

                        .btn {
                            flex-grow: 1;
                            margin-left: 1rem;
                            margin-right: 1rem;
                            font-size: 1.5rem;
                        }
                    }
                }

            }

        }
    }



    .mobile-menu {
        display: none;
    }

    .desktop-menu {
        display: flex;
    }

    #game-screen {

        #multi-player-footer {
            display: flex;
            width: 100%;

            .multi-player-stat {
                background-color: #DFE7EC;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 1rem;
                border-radius: 1rem;
                flex-grow: 1;
                margin-left: .5rem;
                margin-right: .5rem;

                .desktop {
                    display: block;
                }

                .mobile {
                    display: none;
                }

                .multi-player-stat-key {
                    color: #7191a5;
                    margin-bottom: 0;
                }

                .multi-player-stat-value {
                    color: #304859;
                    font-size: 2rem;

                }

            }



            .multi-player-stat:first-child {
                margin-left: 0;
            }

            .multi-player-stat:last-child {
                margin-right: 0;
            }

        
        }


    }

}

@media (min-width: 992px) {
    .multi-player-stat.active::after {
        position: absolute;
        content: "Current Turn";
        width: 100%;
        text-transform: uppercase;
        color: #152938;
        left: -0px;
        bottom: -2rem;
        text-align: center;

    }
}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}